---
layout: default
title: About
section_id: about
---

<div class='full parallax' style='background-image: url(images/chris_slide_model.jpg); color: #fff;'>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About" color="#fff" tagline=" " class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>About me</h3>
      <p>I am an applied micro economist and my research focuses on the study of education markets. I design and evaluate public policies using a mix of experimental methods together with the estimation of structural microeconomic models of firm and consumer behavior.</p>
      <p>I work at Princeton University, where I have a joint appointment at the Economics Department and the Woodrow Wilson School of Public and International Affairs. I am a member of the Industrial Relations Section and Education Research Section at Princeton University and a member of the National Bureau of Economic Research IO program as well as an affiliate of the J-PAL network. </p>
    </div>
    <!-- <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> -->
  </div>
</div>
<div class='two spacing'></div>


<!-- Current Team -->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The research team" %}
      <div class='spacing'></div>
      <p style="font-size:20px; text-align:center;">
        I work with an amazing group of talented students and collaborators.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% assign sorted_team = site.data.team | sort: 'lastname' %}
    {% for member in sorted_team %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{ member.firstname }} {{ member.lastname }}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class='four spacing'></div>

<!-- Alumni -->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Alumni" %}
      <div class='spacing'></div>
      <p style="font-size:20px; text-align:center;">
        Past research associates and research team members are now conquering the world. Check out their research: 
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% assign sorted_team = site.data.alumni | sort: 'lastname' %}
    {% for member in sorted_team %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{ member.firstname }} {{ member.lastname }}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class='four spacing'></div>


<!-- Students -->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="PhD Students" %}
      <div class='spacing'></div>
      <p style="font-size:20px; text-align:center;">
        As a young AP I generally learn as much as I advise from my PhD students. Check out the interesting work these young researchers are doing at the intersection of methods, data and important policy questions.      
              </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% assign sorted_team = site.data.students | sort: 'lastname' %}
    {% for member in sorted_team %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{ member.firstname }} {{ member.lastname }}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class='four spacing'></div>

<!-- Mentors -->
<!-- <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Mentors" %}
      <div class='spacing'></div>
      <p style="font-size:20px; text-align:center;">
       I have had a lot of help on my journey learning economics. At the University of Chile and then at Yale University for my PhD, I have been extremely lucky to have had great mentors that taught me and geve me support and motivated to do my best. Check out what they are up to today and be sure to look into the amazing research and policy they are doing today. Work and learn from them if you can: 
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% assign sorted_team = site.data.mentors | sort: 'lastname' %}
    {% for member in sorted_team %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{ member.firstname }} {{ member.lastname }}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class='four spacing'></div>


<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include our-customers.html %} -->
