---
layout: default
section_id: home
slides:
  - bg: images/insta/london.jpg
  - bg: images/insta/boston.jpg
  - bg: images/insta/bogota.jpg
  - bg: images/insta/stavanger.jpg
  - bg: images/insta/norwayice.jpg
  - bg: images/insta/toulouse.jpg

services:
  - title: Hola
    desc: lala

projects:
  - image: images/portfolio/AVE_chris.jpg
    title: Aprendiendo el Valor de la Educación (AVE)
    link_to: portfolio-AVE.html
    klass: graphi-design
    desc: The Dominican Republic
  - image: images/portfolio/markdown_quality_Santiago.png
    title: project title
    link_to: portfolio-item.html
    klass: graphi-design
    desc: 'Chile'
  - image: images/NH/NH-response_map.png
    title: Elementary School Choice
    link_to: portfolio-item.html
    klass: graphi-design
    desc: 'New Haven, CN'
  - image: images/admision_1977.jpg
    title: PAA Historico
    link_to: portfolio-item.html
    klass: graphi-design
    desc:  'Chile'
  - image: images/@stock/work-5.jpg
    title: project title
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: project title
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: project title
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: project title
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development

milestones:
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee
  - icon: code
    from: 0
    to: 81351
    title: Lines of code

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full' style="background: #EE7F2D">
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="About me" %}
      <div class='spacing'></div>
      <!-- <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p> -->
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 text-center columns'>
      <img class="img-avatar" alt="" src="images/team/chris_yale.jpg" />
      <!-- <div class='three spacing'></div> -->
    </div>
    <div class='medium-6 columns'>
      <p style="font-size:20px; color:white ">{{ site.work.coauthors }}</p>
      <p style="font-size:20px; color:white ">I am an applied micro economist, and my research focuses on the study of education markets. I work with governments to design and evaluate public policies using a mix of experimental methods together with the estimation of structural microeconomic models of firm and consumer behavior. </p>
      <a href="{{site.url}}/about.html" style="font-size:20px; color:white ">Read more ></a>
      <!-- {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %} -->
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<div class="four spacing"></div>

<div class="row">
  {% include section-header.html title="Featured research" %}
  <div class="two spacing"></div>
  <div class="medium-4 large-4 columns">
    <a href='work/credit-info.html'>{% include icon-text.html title='Heterogeneous Beliefs and School Choice Assignment Mechanisms' desc='American Economic Review (R&R)' icon_class='fa fa-cogs' delay='0' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/targeted-vouchers.html'>{% include icon-text.html title='Targeted Vouchers, Competition Among Schools and the Academic Achievement of Poor Students' desc='Econometrica (R&R)' icon_class='fa fa-graduation-cap' delay='200' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/equilibrium-informed-school-choice.html'>{% include icon-text.html title='Approximating The Equilibrium Effects of Informed School Choice' desc='Working Paper' icon_class='fa fa-sliders' delay='400' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-4 large-4 columns">
    <a href='work/credit-info.html'>{% include icon-text.html title='The Equilibrium Effects of Asymmetric Information: Evidence from Consumer Credit Markets' desc='NBER Working Paper No. 25097' icon_class='fa fa-credit-card' delay='400' shape_class='icon-text-circle' %}</a>
  </div>
  <div class="medium-16 columns">
  <a href="{{site.url}}/research.html" style="font-size:20px; ">Read more ></a>
  </div>
</div>

<div class="spacing"></div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Projects" %}
      <div class="spacing"></div>
      <p>

      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.projects %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>




<div class='full parallax' style='background-image: url(images/CDE-estimations_code.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="In numbers" color="#fff" %}
      <div class='spacing'></div>
      <!-- <p class='centered-text' style='color: #ccc;'>
        Lorem ipsum     </p> -->
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    <!-- Publications -->
    <div class='medium-4 large-4 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-file-text'></i>
        <strong data-from=0 data-to='{{site.work.size}}'>&nbsp;</strong>
        <span><b>Articles</b></span>
        <div class='four spacing'></div>
      </div>
    </div>
    <!-- Coauthors -->
    {% assign coauthors_uniq = site.work | map: 'coauthors' | join: ', ' | split: ',' | uniq %}
    <div class='medium-4 large-4 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-users'></i>
        <strong data-from=0 data-to='{{ coauthors_uniq.size }}'>&nbsp;</strong>
        <span><b>Coauthors</b></span>
        <div class='four spacing'></div>
      </div>
    </div>
    <!-- Grant money -->
    {% assign sum = 0 %}
    {% for grant in site.data.grants %}
      {% assign sum = sum | plus: grant.amount %}
    {% endfor %}
    <div class='medium-4 large-4 columns'>
      <div class='mod modMilestone'>
        <i class='fa fa-money'></i>
        <strong data-from=0 data-to='{{ sum }}'>&nbsp;</strong>
        <span><b>Grant money (USD)</b></span>
        <div class='four spacing'></div>
      </div>
    </div>
    <!-- {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %} -->
  </div>
  <div class='two spacing'></div>
</div>



<!-- <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p> -->
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          <!-- </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div> -->


<!-- {% include our-customers.html %} -->


<!-- <div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div> -->
