---
layout: default
title: Portfolio
section_id: portfolio
---


<div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our portfolio" tagline="Have a look at our works" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div style=" float: left; height: 480px; width: 1000px; overflow:scroll; ">
        <div id="map" style="width: 100%; height: 100%; overflow:scroll;"></div>
      </div>
      <div class='mod modBoxedSlider'>
        <!--div class='slides'>
          <div class='slide'>
            <img alt="" src="images/@stock/big-work-1.jpg" />
          </div>
          <div class='slide'>
            <img alt="" src="images/@stock/big-work-2.jpg" />
          </div>
        </div-->

      </div>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3>Project title</h3>
      <p>
        Dolores quibusdam eum itaque est et iusto perspiciatis saepe consequuntur quia occaecati consequatur. dignissimos dolores omnis voluptatum quia totam minus architecto qui assumenda ex aut aut. voluptatem et ex qui iure illum. est rerum eum est corrupti fugiat quas repellendus officia ratione tempore aliquid aspernatur itaque enim. officia dignissimos enim veniam corporis nemo ipsam sit omnis dolorum veniam rerum reprehenderit nihil mollitia. iure tenetur ut dolor et sit maxime culpa Illo minima ipsam nihil quibusdam at omnis magni quae id at magnam quia minus tempore. sit labore consequatur nihil cum minus occaecati. velit ratione quibusdam quisquam voluptas qui quos nesciunt excepturi maiores ut aut ut perferendis quos
      </p>
      <div class='spacing'></div>
      <a class='button small' href=''>Visit website</a>
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Client:</strong>
          themeforest
        </li>
        <li>
          <strong>Date:</strong>
          June 2013
        </li>
        <li>
          <div class='spacing'></div>
          <a href='' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='portfolio.html' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmx1ZWRpc2NvdmVyIiwiYSI6ImNqbXpnMWVvcjB2cWwzcnBjN3pwcG80YWwifQ.7oi616XpMVj12IW6zzUyiA';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-77.04, 38.907],
        zoom: 11.15
    });
    var test = [
        {% for popup in site.data.popups %}
          {
            "type": "{{ popup.type }}",
            "properties": {
              "description": "{{ popup.property.description }}",
              "icon": "{{ popup.property.icon }}"
            },
            "geometry": {
              "type": "{{ popup.geometry.type }}",
              "coordinates": [{{ popup.geometry.coordinates }}]
            }
          },
        {% endfor %}
    ]
    var features = []

    map.on('load', function() {

        // Add a layer showing the places.
        map.addLayer({
            "id": "places",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": test
                }
            },
            "layout": {
                "icon-image": "{icon}-15",
                "icon-allow-overlap": true
            }
        });

        // Create a popup, but don't add it to the map yet.
        var popup = new mapboxgl.Popup({
            closeButton: true,
            closeOnClick: true
        });

        map.on('mouseenter', 'places', function(e) {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            var coordinates = e.features[0].geometry.coordinates.slice();
            var description = e.features[0].properties.description;

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
        });

        map.on('mouseleave', 'places', function() {
            map.getCanvas().style.cursor = '';
            // popup.remove();
        });
    });
</script>