<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/chris_nametype.png" />
        </a>
      </h1>
      <p>©2018 Christopher A. Neilson</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <!-- <h4>Some pages</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="blog.html">Follow our blog</a></li>
          <li><a href="contact.html">Contact us</a></li>
          <li><a href="services.html">Our services</a></li>
        </ul> -->
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <!-- <h4>Recent posts</h4>
        <ul>
          {% for post in site.posts %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul> -->
        <h4>Sections</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="research.html">Research</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact</h4>
      <ul>
        <li>Phone: 609-258-6957</li>
        <li>Email: cneilson@princeton.edu</li>
        <li>Office: 253B Louis A. Simpson Bldg, Princeton, NJ</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://twitter.com/ChrisANeilson'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='http://github.com/econphilomath'>
            <i class='fa fa-github'></i>
          </a>
        </li>
        <li>
          <a href='https://www.instagram.com/econphilomath/'>
            <i class='fa fa-instagram'></i>
          </a>
        </li>
        <li>
          <a href='mailto:cneilson@princeton.edu'>
            <i class='fa fa-envelope'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
