<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen"/>
  <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css'/>
  <link rel="stylesheet" href="{{ '/css/foundation.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/fontello.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
  <script src="{{ '/javascripts/libs.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: 'javascripts/'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
  <script src="{{ '/javascripts/masonry.pkgd.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/slick.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/json2.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>
